body,
html {
  padding: 0;
  margin: 0;
}

.uk-offcanvas-bar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000, transparent),
    url(../images/backgroundDAsh.jfif);
}

.uk-offcanvas-bar .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uk-offcanvas-bar ul {
  list-style-type: none;
}

.uk-offcanvas-bar ul li {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.uk-offcanvas-bar ul li:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.uk-offcanvas-bar #slide1,
.uk-offcanvas-bar #slide2,
.uk-offcanvas-bar #slide3 {
  font-size: 20px;
  cursor: pointer;
}

header nav .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .container .heading h3 {
  color: #465051;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

header nav .container .messages button {
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-width: 0;
}

header nav .container .messages button sup {
  color: #fff;
  background-color: #de3c3a;
  padding: 1px 5px;
  position: relative;
  top: -10px;
  margin-left: -10px;
  font-size: 10px;
  border-radius: 50%;
  font-weight: bold;
}

header nav .container .messages .view-messgaes {
  padding: 0px;
  background-color: #eee;
}

header nav .container .messages .header {
  color: dodgerblue;
  width: 100%;
}
